version: "3.9"

services:
  db:
    image: postgres:17-alpine
    container_name: deputedex-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: deputedex
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

# DATABASE_URL=postgresql://dev:dev@localhost:5432/deputedex?schema=public